extends layout

block content
    .contact-form
        div
            h1 Is my Vape Safe?
        div
            h2 Choose from a list of batteries
            form(action="/result")
                div                 
                    label(for="battery")
                        select(id="battery" name="battery" tabindex="4")
                            option(value="{voltage:3.7, current:4}") IMR16340 3.7V 4A
                            option(value="{voltage:3.7, current:4}") IMR14500 3.7V 4A
                            option(value="{voltage:3.7, current:6}") IMR18350 3.7V 6A
                            option(value="{voltage:3.7, current:15}") IMR18490 3.7V 15A
                            option(value="{voltage:3.7, current:15}") IMR18650-1600 3.7V 15A
            
        h2 Or enter your own details
        div
            form(action="/result")
                div
                  label(for="voltage")
                      span.required Voltage:  
                      input(type="number" step="0.01" id="voltage" name="voltage" value="" placeholder="Voltage" tabindex="2" required="required")
                div                 
                    label(for="current")
                    span Current: 
                    input(type="number" step="0.01" id="current" name="current" value="" placeholder="Current" tabindex="2" required="required")
                div
                  label(for="resistance")
                      span.required Resistance: (required)
                      input(type="number" step="0.01" id="resistance" name="resistance" value="" placeholder="Resistance" required="required" tabindex="1" autofocus="autofocus")
                div                   
                  button(name="submit" type="submit" id="submit") Am I going to Die?