extends layout

block content
    .App
        header.App-header
            h1.App-title You're gonna Die fam
        body.App-Body
            img(src="https://i.imgur.com/QMMtsAt.gif")
            br
            h3 Seriously. Don't fuck around with this 			